*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html, body{
    background: #e5e5e5;
}

#header{
    background-color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    height: 90px;
}

.nav {
    text-align: center;
    list-style-type: none;
    vertical-align: middle;
    padding: 25px 0px;
}

li{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-weight: bolder;
    margin: 0px 15px;
}
/*
.liHeader{
    vertical-align: middle;
    text-align: center;
    font-weight: bolder;
    margin: 0px 15px;
} */

a{
    cursor: pointer;
}
a.nav, a.choose{
    text-decoration: none;
    color: #000;
}

.blackButton{
    background-color: #000;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 0.05em;
    padding: 12px 30px 13px 30px;
    display: block;
    width: 50px;
}

#logo_img{
    width: 20px;
    height: 25px;
}

#logo_line{
    width: 2px;
    height: 25px;
    padding-right: 6px;
    padding-left: 8px;
    display: inline-block;
}

#sait_name{
    height: 25px;
    display: inline-block;
    color: #0D47A1;
    line-height: 15px;
    font-weight: 800;
    font-size: 14px;
    letter-spacing: 0.05em;
    text-align: left;
}

.search_box{
    width: 255px;
    height: 40px;
    border:none;
    border-radius: 40px;
    background: #F0F0F0;
    outline: none;
    transition: .3s linear;
    color:#848484;
    margin-bottom: 0;
    padding-bottom: 0;
}

main{
    /* position: relative; */
}

.menu_wrapper{
    position: relative;
    float: right;
    right: 30%;
}

.wrapper{
    background-color: #fff;
    width: 30%;
    position: relative;
    float: left;
    left: 30%;
    margin-top: 7%;
    margin-bottom: 5%;
    padding-left: 5%;
}

#registrationBlock, #loginBlock{
    display: inline-block;
    width: 80%;
    height: 80%;
}

#loginBlock{
    height: 280px;
}

#registrationBlock{
    height: 570px;
}

div.chooseRef{
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 45px;
}

a.choose{
    font-size: 24px;
    color:#848484;
    margin-right: 40px;
}

a.choose:focus{
    color:#000;
    border-bottom: 2px solid #000;
}

input{
    color:#848484;
    border: 0.5px solid #000;
    height: 40px;
    width: 95%;
    margin-bottom: 20px;
    padding-left: 15px;
}

#registButt, #loginButt{
    margin-top: 20px;
}

#registButt{
    width: 160px;
}

.inlineInput{
    width: 95%;
    align-items: center;
    white-space: nowrap;
}

.initials{
    width: 29%;
    display: inline-block;
    position: relative;
}

p.inlineDiv{
    display: inline-block;
    position: relative;
    width: 90%;
    font-size: 15px;
}

#checkboxInput{
    width: 10%;
    height: 16px;
}
