*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html, body{
    background: #e5e5e5;
}

body{

}

main
{
    display: block;
    width:66%;
    margin-left:17%;
}

p{
    font-size: 14px;
}

a{
    cursor: pointer;
    color: #0d47a1;
    text-decoration: none;
}

li{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-weight: bolder;
    margin: 0px 15px;
}

/*
    HEADER
*/
#header{
    background-color: #fff;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    min-height: 90px;
}

.nav{
    text-align: center;
    list-style-type: none;
    vertical-align: middle;
    padding: 22px 0px;
}

#sait_name{
    height: 25px;
    display: inline-block;
    color: #0D47A1;
    line-height: 15px;
    font-weight: bolder;
    font-size: 14px;
    letter-spacing: 0.05em;
    text-align: left;
}

#logo_img{
    width: 20px;
    height: 25px;
}

#logo_line{
    width: 2px;
    height: 25px;
    padding-right: 6px;
    padding-left: 8px;
    display: inline-block;
}

.search_box{
    width: 255px;
    height: 40px;
    border:none;
    border-radius: 40px;
    background: #F0F0F0;
    outline: none;
    transition: .3s linear;
    color:#848484;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

a.nav, a.choose{
    color: #000;
}

/*
    BUTTONS
*/
.button{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 0.05em;
    padding: 13px 30px 12px 30px;
    display: block;
    width: 110px;
    border-radius:3px;
    border: none;
    cursor: pointer;
}

.black
{
    color: #000;
}

.blue
{
    color: #0d47a1;
}

.gray
{
    color: #97a4b9;
}

.blackBack{
    background-color: #000;
}

.blueBack{
    background-color: #0d47a1;
}

.blueBack2
{
    background-color: #809dca;
}

.grayBack{
    background-color: #97a4b9;
}

#navButt{
    width: 50px !important;
}

#registButt, #loginButt{
    margin-top: 20px;
    height: 45px;
}

#loginButt{
    float: left;
}

div.forgotPassword{
    float: right;
    margin-top: 40px;
    box-sizing: border-box;
}

a.forgotPassword{
    border-bottom: 2px solid #0d47a1;
    font-size: 16px;
}

#registButt{
    width: 230px;
    margin-bottom: 20px;
}

.redWarning{
    border: 2px solid #E14756 !important;
}

#mainButt{
    width: 110px;
    margin-left: 30%;
    margin-top: 60px;
}

/*
    REGISTRATION AND LOGIN BLOCKS
*/
.wrapper{
    background-color: #fff;
    width: 45%;
    position: relative;
    left: 27.5%;
    margin-top: 7%;
    margin-bottom: 5%;
    padding-left: 7%;
    padding-top: 5%;
    padding-bottom: 5%;
    overflow: hidden;
    box-sizing: border-box;
}

#registrationBlock, #loginBlock{
    display: inline-block;
    width: 80%;
}

/*#registrationBlock{*/
/*    display:none;*/
/*}*/

.active{
    animation:AnimationAddForm 0.5s ease;
    opacity:1;
    display:block !important;
}

.inactive{
    animation:AnimationRemoveForm 0.5s ease;
    opacity:0;
    display:none !important;
}

@keyframes AnimationAddForm{
    0%{opacity:0;}
    100%{opacity:1;}
}

@keyframes AnimationRemoveForm{
    0%{opacity:1;}
    100%{opacity:0;}
}

/*
    SWITCH LINKS
*/
.borderBottom{
    border-bottom:3px solid #0d47a1;
}

div.chooseDiv{
    margin-bottom: 15px;
    min-height:40px;
}

.chooseRef{
    min-height:40px;
    display:inline-block;
    margin-right:40px;
    font-size: 24px;
}

.choose{
    color: #0d47a1 !important;
}

#logFormLink, #regFormLink{
    color: #97A4B9;
}

/*
    INPUTS
*/
input{
    /*color:#97a4b9;*/
    border: 1px solid #DEDEDE;
    height: 50px;
    width: 95%;
    margin-top: 20px;
    padding-left: 15px;
    margin-right: 30%;
    font-weight:500;
    box-sizing: border-box;
}

input::placeholder {
    color: #97a4b9;
}

.inputAfterLabel{
    margin-top: 5px;
}
.inputAfterLabel:invalid{
    margin-top: 5px;
    color: red;
}

.labelInfo
{
    color:red;
    min-width:50px;
}

.inlineInput {
    width: 95%;
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
}

.initials {
    display: flex;
    flex: 0 0 32.66%;
    position: relative;
    margin-right: 1%;
}

#thirdName {
    margin-right: 0px;
}

p.inlineDiv{
    display: inline-block;
    position: relative;
    width: 90%;
    font-size: 15px;
}

/*
    CHECKBOX STYLING
*/

/*input[type=checkbox]*/
/*{*/
/*    margin-right:0px;*/
/*}*/
.checkbox {
    position: absolute;
    margin: 0 !important;
    padding: 0 !important;
    opacity: 0;
    height: 0;
    width: 0;
    pointer-events: none;
}
.checkbox + label {
    user-select: none;
    cursor: pointer;
    display: inline-flex;
    align-items: flex-start;
    line-height: 32px;
}

.checkbox + label::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #FFF;
    border: 2px solid #0d47a1;
    margin-right: 10px;
    transition: .2s;
    position: relative;
    top: 0.2em;
}
.checkbox:checked + label::before {
    background-color: #5F8DD3;
    transition: transform 0.2s;
    border: 2px solid #466DA7;
}

.checkbox:active + label::before {
    transform: scale(0.8);
    transition: transform 0.2s;
}
.checkbox:checked:active + label::before {
    transform: none;
    transition: none;
}
.checkbox:checked + label::before {
    background-size: 18px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpolyline points='1 6.5 4 9.5 11 2.5' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/svg%3E");
}

#labelCheckbox
{
    display: block;
    font-size: 16px;
}

/* INITIATIVE */

main
{

}

.initiative
{
    display:flex;
    flex-wrap: nowrap;
    margin-bottom: 25px;
}

.leftInitiative
{
    flex: 0 0 45%;
    margin-right: 5%;
    box-sizing: border-box;
}

.rightInitiative
{
    flex: 0 0 50%;
    background: #ffffff;
    padding:30px;
    box-sizing: border-box;
}

.rightInitiative p
{
    margin-top:20px;
    font-weight: 600;
    letter-spacing: 1px;
}

.rightInitiative h1
{
    font-size:20px;
}

.inputInitiative
{
    width:70%;
    margin-left:15%;
}

#nameInitiative{
    height:50px;
    margin-top:0px;
}

.formInitiative textarea
{
    height: 150px;
    resize:none;
}

.formInitiative textarea::placeholder {
    line-height: 80px;
    color:#9fabbe;
}

.formInitiative input, textarea, inputFile
{
    font-size:18px;
    width:100%;
    border: 1px solid #DEDEDE;
    margin-top: 20px;
    padding-left: 15px;
    font-weight:500;
    box-sizing: border-box;
    margin-right: 0%;
}

.inputFileInterface
{
    position:relative;
    width: 100%;
    height:150px;
    border: 1px dashed #0d47a1;
    box-sizing: border-box;
    background: #ebedf1;
    margin-top:20px
}

.inputFile
{
    opacity:0 !important;
    margin-top: 0px !important;
    padding: 0px !important;
    width:100% !important;
    height:100% !important;
}

.inputFileInterface img
{
    width:20px;
    height: 20px;
    position: relative;
    top: 3px;
}

#inputFileTextLine1
{
    color:#0d47a1;
    font-weight: 600;
}

#inputFileTextLine2
{
    color:#97a4b9;
    font-weight: 600;

}

.inputFileText
{
    text-align:center;
    position:relative;
    top:50%;
    transform: translateY(-50%);
}

main
{
    margin-top: 35px;
}

#newInitiativeH1
{
    margin-top:35px;
    margin-bottom: 20px;
    font-size:40px;
    letter-spacing: 2px;
}

#goBack
{
    color:#97a4b9;
    letter-spacing: 2px;
}

#submitForm
{
    width: 150px;
    height: 40px;
    color:white;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border:none;
    background: #809dca;
}

