<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <title>Инициативы Дубны</title>
    <link href="../static/css/contentStyle.css" th:href="@{/css/contentStyle.css}" rel="stylesheet" type="text/css"/>
    <link href="../static/css/uiKit.css" th:href="@{/css/uiKit.css}" rel="stylesheet" type="text/css"/>
    <link href="../static/css/footer.css" th:href="@{/css/footer.css}" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
<!--<header id="header">-->
<!--    <ul>-->
<!--        <li>-->
<!--            <div id="logo_info">-->
<!--                <img id="logo_img" src="../static/img/Vect.png" th:src="@{/img/Vect.png}"/>-->
<!--                <img id="logo_line" src="../static/img/Line1.png" th:src="@{/img/Line1.png}"/>-->
<!--                <p id="sait_name"><strong>Инициативы<br/>жителей Дубны</strong></p>-->
<!--            </div>-->
<!--        </li>-->
<!--        <li>-->
<!--            <form id="search_form" action="#">-->
<!--                <input type="search" placeholder="Поиск" name="search" class="search_box">-->
<!--            </form>-->
<!--        </li>-->
<!--        <li><a class="nav" href="#">Инициативы</a></li>-->
<!--        <li><a class="nav" href="#">Правила работы</a></li>-->
<!--        <li><a class="nav" href="#">Обратная связь</a></li>-->
<!--        <li><a id="reg" href="login.html" class="primaryButton" onclick="OnLogin()">Войти</a></li>-->
<!--        <li class="helper"></li>-->
<!--    </ul>-->
<!--</header>-->
<main>
    <h1>Красивый заголовок уровня 1</h1>
    <h2>Красивый заголовок уровня 2</h2>
    <h3>Красивый заголовок уровня 3</h3>
    <h4>Красивый заголовок уровня 4</h4>
    <h5>Красивый заголовок уровня 5</h5>
    <h6>Красивый заголовок уровня 6</h6>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi assumenda dicta dolore eaque earum,
        eius
        expedita fugiat harum iste iure maxime molestiae, natus, nostrum numquam praesentium repellendus rerum
        totam.Architecto beatae consectetur consequatur consequuntur, ipsa nihil quibusdam, quidem quisquam quod rerum
        sequi tempore. Accusamus accusantium aliquid assumenda consectetur deleniti incidunt, ipsam itaque nobis officia
        quidem quo repellat sint sunt.Ab ad consequatur debitis eos ex exercitationem facilis fugit illum iste itaque
        maiores minima nihil optio quaerat quam quidem repellendus sequi similique, sint voluptatum. Beatae deleniti
        libero neque nostrum porro?Corporis, eius fugiat impedit, labore, maiores natus necessitatibus nostrum obcaecati
        possimus provident qui voluptas! Aliquam animi asperiores atque debitis, delectus ducimus, expedita laudantium
        nostrum placeat, quaerat quam repellat vitae voluptate.
    </p>
    <img src="/static/img/exampleInit1.png" alt="Кортинка"/>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi assumenda dicta dolore eaque earum,
        eius
        expedita fugiat harum iste iure maxime molestiae, natus, nostrum numquam praesentium repellendus rerum
        totam.Architecto beatae consectetur consequatur consequuntur, ipsa nihil quibusdam, quidem quisquam quod rerum
        sequi tempore. Accusamus accusantium aliquid assumenda consectetur deleniti incidunt, ipsam itaque nobis officia
        quidem quo repellat sint sunt.Ab ad consequatur debitis eos ex exercitationem facilis fugit illum iste itaque
        maiores minima nihil optio quaerat quam quidem repellendus sequi similique, sint voluptatum. Beatae deleniti
        libero neque nostrum porro?Corporis, eius fugiat impedit, labore, maiores natus necessitatibus nostrum obcaecati
        possimus provident qui voluptas! Aliquam animi asperiores atque debitis, delectus ducimus, expedita laudantium
        nostrum placeat, quaerat quam repellat vitae voluptate.
    </p>
    <table>
        <caption>Перечень продуктов</caption>
        <tr>
            <th>№ п/п</th>
            <th>Наименование товара</th>
            <th>Ед. изм.</th>
            <th>Количество</th>
            <th>Цена за ед. изм., руб.</th>
            <th>Стоимость, руб.</th>
        </tr>
        <tr>
            <td>1.</td>
            <td>Томаты свежие</td>
            <td>кг</td>
            <td>15,20</td>
            <td>69,00</td>
            <td>1048,80</td>
        </tr>
        <tr>
            <td>2.</td>
            <td>Огурцы свежие</td>
            <td>кг</td>
            <td>2,50</td>
            <td>48,00</td>
            <td>120,00</td>
        </tr>
        <tr>
            <td colspan="5" style="text-align:right">ИТОГО:</td>
            <td>1168,80</td>
        </tr>
    </table>
    <p>
        Lorem <a>Ссылка в тексте</a> ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi assumenda dicta dolore eaque earum,
        eius expedita fugiat harum iste iure maxime molestiae, natus, nostrum numquam praesentium repellendus rerum
        totam.Architecto beatae consectetur consequatur consequuntur, ipsa nihil quibusdam, quidem quisquam quod rerum
        sequi tempore. Accusamus accusantium aliquid assumenda consectetur deleniti incidunt, ipsam itaque nobis officia
        quidem quo repellat sint sunt.Ab ad consequatur debitis eos ex exercitationem facilis fugit illum iste itaque
        maiores minima nihil optio quaerat quam quidem repellendus sequi similique, sint voluptatum. Beatae deleniti
        libero neque nostrum porro?Corporis, eius fugiat impedit, labore, maiores natus necessitatibus nostrum obcaecati
        possimus provident qui voluptas! Aliquam animi asperiores atque debitis, delectus ducimus, expedita laudantium
        nostrum placeat, quaerat quam repellat vitae voluptate.
    </p>
    <ul class="border">
        <li>Microsoft</li>
        <li>Google</li>
        <li>Apple</li>
        <li>IBM</li>
        <li>
            <ul>
                <li>Microsoft</li>
                <li>Google</li>
                <li>Apple</li>
                <li>IBM</li>
                <li><a>Ssilka v spiske</a></li>
            </ul>
        </li>
    </ul>

    <ol>
        <li>Microsoft</li>
        <li>Google</li>
        <li>Apple</li>
        <li>
            <ol>
                <li>Microsoft</li>
                <li>Google</li>
                <li>Apple</li>
                <li>IBM</li>
                <li><a>Ssilka v spiske</a></li>
            </ol>
        </li>
    </ol>
    <a>Отдлеьная ссылка</a>
</main>
<footer>
    <div class="left">
        <!--for auth user-->
        <form>
            <p class="topic">У Вас что-то случилось?</p>
            <p class="text">
                Сообщите нам о проблеме, и мы ответим Вам в течение 1 рабочего дня на электронную почту.</p>
            <textarea class="placeholder" placeholder="Описание проблемы"></textarea>
        </form>
        <!--for anon-->
        <form style="display: none">
            <p class="topic">Обратная связь</p>
            <input class="placeholder" placeholder="ФИО">
            <input class="placeholder" placeholder="Почта">
            <input class="placeholder" placeholder="Телефон">
            <input class="placeholder" placeholder="Описание">
        </form>
        <button class="primaryButton" style="margin-bottom: 60px">Отправить</button>
    </div>
    <div class="right">
        <h2>8 900 565 44 44</h2>
        <p class="mail">Pochta@mail.ru</p>
        <p class="address">Проспекл Луначарского, д 65 офис 3</p>
    </div>
    <div class="underground">
        <a class="privacyPolicy">Политика конфиденциальности</a>
        <p class="createdBy">(с) created by hopper-it</p>
    </div>
</footer>

</body>
</html>