<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8" />
    <title>Инициативы Дубны</title>
    <link href="../static/css/styleInitiatives.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="../static/css/uiKit.css" th:href="@{/css/uiKit.css}" rel="stylesheet" type="text/css"/>
    <link href="../static/css/footer.css" th:href="@{/css/footer.css}" rel="stylesheet" type="text/css"/>
    <script src="../static/js/form.js" th:src="@{/js/form.js}"></script>
</head>
<body>
<main>
    <a href="./initiatives.html">< К инициативам</a>
    <form class="inputInitiative">
        <div class="leftInitiative">
            <h1>Новая инициатива</h1>
            <input type="text" name="nameInitiative" id="nameInitiative" placeholder="Название">
            <textarea ></textarea>
            <div class="forInputFile">
                <div class="inputFileInterface">

                </div>
                <input class="inputFile" type="file">
            </div>
        </div>
        <div class="rightInitiative">

        </div>
    </form>
</main>
<footer>
    <div class="left">

        <!--for auth user-->
        <form>
            <p class="topic">У Вас что-то случилось?</p>
            <p class="text">
                Сообщите нам о проблеме, и мы ответим Вам в течение 1 рабочего дня на электронную почту.</p>
            <textarea class="placeholder" placeholder="Описание проблемы"></textarea>
        </form>
        <!--for anon-->
        <form style="display: none">
            <p class="topic">Обратная связь</p>
            <input class="placeholder" placeholder="ФИО">
            <input class="placeholder" placeholder="Почта">
            <input class="placeholder" placeholder="Телефон">
            <input class="placeholder" placeholder="Описание">
        </form>
        <button class="primaryButton" style="margin-bottom: 60px">Отправить</button>
    </div>
    <div class="right">
        <h2>8 900 565 44 44</h2>
        <p class="mail">Pochta@mail.ru</p>
        <p class="address">Проспекл Луначарского, д 65 офис 3</p>
    </div>
    <div class="underground">
        <a class="privacyPolicy">Политика конфиденциальности</a>
        <p class="createdBy">(с) created by hopper-it</p>
    </div>
</footer>
<script src="../static/js/header.js" th:src="@{/js/header.js}"></script>
</body>
</html>