<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8" />
    <title>Инициативы Дубны</title>
    <link href="../static/css/styleInitiative.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="../static/css/uiKit.css" th:href="@{/css/uiKit.css}" rel="stylesheet" type="text/css"/>
    <link href="../static/css/footer.css" th:href="@{/css/footer.css}" rel="stylesheet" type="text/css"/>
    <script src="../static/js/initiative.js" th:src="@{/js/form.js}"></script>
</head>
<body>
<main>
    <a id="goBack" href="./initiatives.html">< к инициативам</a>
    <h1 id="newInitiativeH1">Новая инициатива</h1>
    <div class="initiative">
        <div class="leftInitiative" id="leftInitiativeForm">
            <form class="formInitiative">
                <input onchange="CheckIsFilled()" type="text" name="nameInitiative" id="nameInitiative" placeholder="Название">
                <textarea onchange="CheckIsFilled()" placeholder="Описание" id="textArea"></textarea>
                <div class="forInputFile">
                    <div class="inputFileInterface">
                        <div class="inputFileText">
                            <span id="inputFileTextLine1">
                                <img src="../static/img/upload.png" th:src="@{/img/upload.png}"/>
                                ЗАГРУЗИТЕ ИЗОБРАЖЕНИЯ
                            </span>
                            <br />
                            <span id="inputFileTextLine2">
                                Или перетяните в это поле
                            </span>
                        </div>
                        <input onchange="CheckIsFilled()" class="inputFile" id="inputImage" type="file">
                    </div>
                </div>
            </form>
        </div>
        <div class="leftInitiative" id="thanksWordsDiv">
            <h1>Инициатива успешно отправлена!</h1>
            <p id="thanksWords">Спасибо, что делаете наш город лучше! Ваша заявка обрабатывается администратором, мы обязательно с вами свяжемся по электронной почте.</p>
            <a href="initiative.html"><button id="goToNewInitiative">ПРЕДЛОЖИТЬ ЕЩЕ ИНИЦИАТИВУ</button></a>
        </div>
        <div class="rightInitiative">
            <h1>
                Памятка
            </h1>
            <p>
                Предложите что-то интересное и люди Вас поддержат. Введите заголовок с продающим текстом, тогда все будет круто и все проголосуют за Вашу инициативу.
            </p>
            <p>
                Убедитесь в том, что похожей инициативы нет в базе, заполните все поля формы и нажмите "Отправить".
            </p>
            <p>
                После отправки инициатива попадет на модерацию, мы обязательно рассмотрим вашу идею.
            </p>
            <p>
                Улучшим город вместе!
            </p>
        </div>
    </div>
    <button onclick="SendInitiative()" id="submitForm">
        ОТПРАВИТЬ
    </button>
</main>
<footer>
    <div class="left">

        <!--for auth user-->
        <form>
            <p class="topic">У Вас что-то случилось?</p>
            <p class="text">
                Сообщите нам о проблеме, и мы ответим Вам в течение 1 рабочего дня на электронную почту.</p>
            <textarea class="placeholder" placeholder="Описание проблемы"></textarea>
        </form>
        <!--for anon-->
        <form style="display: none">
            <p class="topic">Обратная связь</p>
            <input class="placeholder" placeholder="ФИО">
            <input class="placeholder" placeholder="Почта">
            <input class="placeholder" placeholder="Телефон">
            <input class="placeholder" placeholder="Описание">
        </form>
        <button class="primaryButton" style="margin-bottom: 60px">Отправить</button>
    </div>
    <div class="right">
        <h2>8 900 565 44 44</h2>
        <p class="mail">Pochta@mail.ru</p>
        <p class="address">Проспекл Луначарского, д 65 офис 3</p>
    </div>
    <div class="underground">
        <a class="privacyPolicy">Политика конфиденциальности</a>
        <p class="createdBy">(с) created by hopper-it</p>
    </div>
</footer>
<script src="../static/js/header.js" th:src="@{/js/header.js}"></script>
</body>
</html>