<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <title>Инициативы Дубны</title>
    <link href="../static/css/styleInitiatives.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
    <link href="../static/css/uiKit.css" th:href="@{/css/uiKit.css}" rel="stylesheet" type="text/css"/>
    <link href="../static/css/footer.css" th:href="@{/css/footer.css}" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

</head>
<body onload="OnLoad();">
<header id="header">
    <ul>
        <li>
            <div id="logo_info">
                <img id="logo_img" src="../static/img/Vect.png" th:src="@{/img/Vect.png}"/>
                <img id="logo_line" src="../static/img/Line1.png" th:src="@{/img/Line1.png}"/>
                <p id="sait_name"><strong>Инициативы<br/>жителей Дубны</strong></p>
            </div>
        </li>
        <li>
            <form id="search_form" action="#">
                <input type="search" placeholder="Поиск" name="search" class="search_box">
            </form>
        </li>
        <li><a class="nav" href="#">Инициативы</a></li>
        <li><a class="nav" href="#">Правила работы</a></li>
        <li><a class="nav" href="#">Обратная связь</a></li>
        <li><a id="reg" href="login.html" class="primaryButton" onclick="OnLogin()">Войти</a></li>
        <li class="helper"></li>
    </ul>
</header>

<div id="content">
    <ul id="initiativeHeader" style="text-align: justify;">
        <li><h2 style="text-align: left">Инициативы</h2></li>
        <li>
            <button id="AddInitiative" class="secondaryButton"
                    style="vertical-align: bottom;">
                Предложить инициативу
            </button>
        </li>
        <li class="helper"></li>
    </ul>
    <table>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

    <div id="choosePage">
        <form>
            <button id="choosePageLeft" onclick="ChoosePage('right');"><</button>
            <span>Страница</span>
            <input id="pageNumber" value="1" min="1" max="10" type="number"/>
            <span>из 1</span>
            <button id="choosePageRight" onclick="ChoosePage('right');">> </button>
        </form>
    </div>

</div>
<script src="../static/js/mainPage.js" th:src="@{/js/mainPage.js}" type="text/javascript"></script>

<footer>
    <div class="left">
        <!--for auth user-->
        <form>
            <p class="topic">У Вас что-то случилось?</p>
            <p class="text">
                Сообщите нам о проблеме, и мы ответим Вам в течение 1 рабочего дня на электронную почту.</p>
            <textarea class="placeholder" placeholder="Описание проблемы"></textarea>
        </form>
        <!--for anon-->
        <form style="display: none">
            <p class="topic">Обратная связь</p>
            <input class="placeholder" placeholder="ФИО">
            <input class="placeholder" placeholder="Почта">
            <input class="placeholder" placeholder="Телефон">
            <input class="placeholder" placeholder="Описание">
        </form>
        <button class="primaryButton" style="margin-bottom: 60px">Отправить</button>
    </div>
    <div class="right">
        <h2>8 900 565 44 44</h2>
        <p class="mail">Pochta@mail.ru</p>
        <p class="address">Проспект Луначарского, д 65 офис 3</p>
    </div>
    <div class="underground">
        <a class="privacyPolicy">Политика конфиденциальности</a>
        <p class="createdBy">(с) created by hopper-it</p>
    </div>
</footer>

</body>
</html>