<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8" />
    <title>Инициативы Дубны</title>
    <link href="./css/style.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="./js/form.js"></script>
</head>
<body>
<main>
    <div class="wrapper">
        <div class="chooseDiv">
            <div id="loginFormDiv" class="chooseRef borderBottom" onclick="AddBorderToLoginForm();"> <a class="choose" id="logFormLink" onclick="onLogin()">Вход</a></div>
            <div id="regFormDiv" class="chooseRef" onclick="AddBorderToRegistrationForm();"> <a id="regFormLink" onclick="onRegistration()">Регистрация</a></div>
        </div>
        <div id="loginBlock" class="active">
            <form name="loginForm" id="loginForm" class="loginForm" method="post">
                <input  id="mail" name="mail" type="email" placeholder="Почта"/>
                <input  id="password" name="password" type="password" placeholder="Пароль"/>
                <div>
                    <input type="button" class="grayBack button" id="loginButt" name="loginButt" value="Войти" onclick="login()"/>
                    <div class="forgotPassword" class="loginButtons"><a class="forgotPassword" hfer="#">Восстановить пароль</a></div>
                </div>
            </form>
        </div>
        <div id="registrationBlock" class="inactive">
            <form name="registForm" class="registForm" method="post">
                <div class="inlineInput">
                    <input name="lastName" id="lastName" class="initials" type="text" placeholder="Фaмилия"/>
                    <input name="firstName" id="firstName" class="initials" type="text" placeholder="Имя"/>
                    <input name="thirdName" id="thirdName" class="initials" type="text" placeholder="Отчество"/>
                </div>
                <input name="birthDate" id="birthDate" onchange="ValidBirthDate();" type="text" placeholder="Дата рождения в формате ДД.ММ.ГГГГ"/>
                <label name="labelBirthDate" id="labelBirthDate" class="labelInfo">&nbsp;</label>
                <input name="phoneNumber" id="phoneNumber" class="inputAfterLabel" onchange="ValidPhone()" type="text" placeholder="Телефон"/>
                <label name="labelPhone" id="labelPhone" class="labelInfo">&nbsp;</label>
                <input name="address" id="address" class="inputAfterLabel" type="text" placeholder="Адрес проживания"/>
                <label name="labelAdress" id="labelAdress" class="labelInfo">&nbsp;</label>
                <input name="email" id="email" class="inputAfterLabel" type="email" onchange="ValidMail();" placeholder="Почта"/>
                <label name="labelEMail" id="labelEMail" class="labelInfo">&nbsp;</label>
                <input name="password1" type="password" id="password1" class="inputAfterLabel" onchange="ValidPassword();" placeholder="Пароль"/>
                <input name="password2" type="password" id="password2" onchange="comparePasswords();" placeholder="Повторите пароль"/>
                <label name="labelPassword2" id="labelPassword2" class="labelInfo">&nbsp;</label>
                <input id="checkboxInput" type="checkbox" class="checkbox" />
                <label for="checkboxInput" id="labelCheckbox">Согласен с <a href="#">политикой конфиденциальности</a></label>
                <input type="button" class="button grayBack" id="registButt" name="registButt" value="Зарегистрироваться" onclick="registration();" formaction="./successfulRegistration.htm"/>
            </form>
        </div>
    </div>
</main>
<script src="./js/header.js"></script>
</body>
</html>