<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Инициативы Дубны</title>
	<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
    <script src="../static/js/form.js" th:src="@{/js/form.js}" type="text/javascript"></script>
    <script src="./form.js"></script></head>
<body>
<header id="header">
    <ul class="nav">
        <li>
            <div id="logo_info">
                <img id="logo_img" src="./IMG/Шапка/Vect.png" />
                <img id="logo_line" src="./IMG/Шапка/Line%201.png" />
                <p id="sait_name"><strong>Инициативы<br/>жителей Дубны</strong></p>
            </div>
        </li>
        <li>
            <form id="search_form" action="#">
                <input type="search" placeholder="Поиск" name="search" class="search_box">
            </form>
        </li>
        <li><a class="nav" href="#">Инициативы</a></li>
        <li><a class="nav" href="#">Правила работы</a></li>
        <li><a class="nav" href="#">Обратная связь</a></li>
        <li><a id="reg" href="login.html" class="button blueBack" onclick="OnLogin()">Войти</a></li>
    </ul>
</header>
<main>
    <div class="manu_wrapper">
        <div class="wrapper">
            <div class="chooseRef" >
                <div id="loginFormDiv" class="chooseRef2 borderBottom">
				<a class="choose" id="logForm" onclick="OnLogin()">Вход</a>
				</div>
                <div id="regFormDiv" class="chooseRef2">
				<a class="choose" id="regForm" onclick="OnRegistration()">Регистрация</a>
				</div>
            </div>
            <div id="loginBlock" class="active">
                <form name="loginForm" id="loginForm" class="loginForm" method="get">
                    <input name="mail" type="email" placeholder="Почта"/>
                    <input name="password" type="password" placeholder="Пароль"/>
                </form>
				<div id="loginButtonsDiv">
					<div class="loginButtons">
						<a id="loginButt" onclick="Login()" class="grayBack button">Войти</a>
					</div>
					<div id="ForgotPassword" class="loginButtons">
						<a>Восстановить пароль</a>
					</div>
				</div>
            </div>
            <div id="registrationBlock" class="inactive">
                <form name="registForm" class="registForm" method="get">
                    <div class="inlineInput">
                        <input name="lastName" class="initials" type="text" placeholder="Фaмилия"/>
                        <input name="firstName" class="initials" type="text" placeholder="Имя"/>
                        <input name="thirdName" id="thirdName" class="initials" type="text" placeholder="Отчество"/>
                    </div>
                    <input name="birthDate" type="text" placeholder="Дата рождения"/>
                    <input name="phone" id="phone" onchange="ValidPhone()" type="text" placeholder="Телефон"/>
					<label name="labelPhone" id="labelPhone">&nbsp;</label>
                    <input name="address" class="inputAfterLabel" type="text" placeholder="Адрес проживания"/>
                    <label name="labelAdress" id="labelAdress">&nbsp;</label>
					<input name="email" class="inputAfterLabel" type="email" onchange="ValidMail();" placeholder="Почта"/>
					<label name="labelEMail" id="labelEMail">&nbsp;</label>
                    <input name="password1" class="inputAfterLabel" onchange="ValidPassword();" type="password" placeholder="Пароль"/>
					<label name="labelPassword1" id="labelPassword1">&nbsp;</label>
					<input name="password2" class="inputAfterLabel" type="password" id="password2" onchange="ComparePasswords();" placeholder="Повторите пароль"/>
                    <label name="labelPassword2" id="labelPassword2">&nbsp;</label>
                    <!-- <a id="registButt" class="blackButton" href="#">Зарегистрироваться</a> -->
					<label name="labelCheckbox" id="labelCheckbox"><input id="checkboxInput" type="checkbox" />Согласен с <a>политикой конфиденциальности</a></label>
                </form>
                <a id="registButt" class="button grayBack" onclick="Registration();" href="#">Зарегистрироваться</a>
            </div>
        </div>
    </div>
</main>
</body>
</html>