<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="ru">
<head>
    <meta charset="utf-8"/>
    <title>Инициативы Дубны</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
<!--    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"-->
<!--          th:href="@{https://fonts.googleapis.com/css2(family=Roboto:${__#{wght}__300&display=swap)}}"-->
<!--          rel="stylesheet">-->
    <script src="../static/js/form.js" th:src="@{/js/form.js}" type="text/javascript"></script>
</head>
<body>
<header id="header">
    <ul class="nav">
        <li>
            <div id="logo_info">
                <img id="logo_img" th:src="@{/img/Vect.png}"/>
                <img id="logo_line" th:src="@{/img/Line1.png}"/>
                <p id="sait_name"><strong>Инициативы<br/>жителей Дубны</strong></p>
            </div>
        </li>
        <li>
            <form id="search_form" action="#">
                <input type="search" placeholder="Поиск" name="search" class="search_box">
            </form>
        </li>
        <li><a class="nav" href="#">Предложить инициативу</a></li>
        <li><a class="nav" href="#">Правила работы</a></li>
        <li><a class="nav" href="#">Обратная связь</a></li>
        <li><a id="reg" href="login" class="blackButton" onclick="onLogin()">Войти</a></li>
    </ul>
</header>
<main>
    <div class="manu_wrapper">
        <div class="wrapper">
            <div class="chooseRef">
                <a class="choose" id="logForm" onclick="onLogin()">Вход</a>
                <a class="choose" id="regForm" onclick="onRegistration()">Регистрация</a>
            </div>
            <div id="loginBlock">
                <form name="loginForm" id="loginForm" class="loginForm" method="get">
                    <input name="mail" type="email" placeholder="Почта"/>
                    <input name="password" type="password" placeholder="Пароль"/>
                </form>
                <a id="loginButt" onclick="login()" class="blackButton">Войти</a>
            </div>
            <div id="registrationBlock" style="display: none;">
                <form name="registForm" class="registForm" method="get">
                    <div class="inlineInput">
                        <input name="lastName" class="initials" style="margin-right:1%;" type="text"
                               placeholder="Фaмилия"/>
                        <input name="firstName" class="initials" style="margin-right:1%;" type="text"
                               placeholder="Имя"/>
                        <input name="thirdName" class="initials" type="text" placeholder="Отчество"/>
                    </div>
                    <input name="birthDate" type="text" placeholder="Дата рождения"/>
                    <input name="phone" type="text" placeholder="Телефон"/>
                    <input name="address" type="text" placeholder="Адрес проживания"/>
                    <input name="email" type="email" placeholder="Почта"/>
                    <input name="password" type="password" placeholder="Пароль"/>
                    <div class="inlineInput"><input id="checkboxInput" class="inlineDiv" type="checkbox"/>
                        <p class="inlineDiv">Согласен с <a style="text-decoration: underline #0D47A1; color:#0D47A1;">политикой
                            конфиденциальности</a></p></div>
                    <!-- <a id="registButt" class="blackButton" href="#">Зарегистрироваться</a> -->
                </form>
                <a id="registButt" class="blackButton" href="#">Зарегистрироваться</a>
            </div>
        </div>
    </div>
</main>
</body>
</html>